<!doctype html>
<html lang="en">
  <head>
    <title>UTA scan-food</title>
    <%- include('./partials/head') %> 
  </head>
  <body>
    <%- include('./partials/nav-bar') %>
    
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% carouselItems.forEach(item => { %>
            <div class="carousel-item <%= item.active ? 'active' : '' %>" data-bs-interval="<%= item.interval %>">
              <img src="<%= item.imagePath %> " class="d-block w-100" alt="image-slide">
              <div class="carousel-caption d-none d-md-block">
                <h5><%= item.contentTitle%></h5>
                <p><%= item.contentText %></p>
              </div>
            </div>
          <% }); %> 
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="container">
        <h1 class="texto">Nuestros productos</h1>

        <div class="tarjetas">
          <div class="card">
            <img src="https://www.recetasnestle.com.ec/sites/default/files/srh_recipes/4e4293857c03d819e4ae51de1e86d66a.jpg" alt="">
            <div class="cuerpo">
              <h1>aaaaaa</h1>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere molestias, natus id harum velit hic nisi officia nam odio quae reprehenderit quaerat officiis tenetur sapiente explicabo? Deserunt iste dolores eaque.</p>
            </div>
          </div>

          <div class="card">
            <img src="https://www.recetasnestle.com.ec/sites/default/files/srh_recipes/4e4293857c03d819e4ae51de1e86d66a.jpg" alt="">
            <div class="cuerpo">
              <h1>aaaaaa</h1>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere molestias, natus id harum velit hic nisi officia nam odio quae reprehenderit quaerat officiis tenetur sapiente explicabo? Deserunt iste dolores eaque.</p>
            </div>
          </div>

          <div class="card">
            <img src="https://www.recetasnestle.com.ec/sites/default/files/srh_recipes/4e4293857c03d819e4ae51de1e86d66a.jpg" alt="">
            <div class="cuerpo">
              <h1>aaaaaa</h1>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere molestias, natus id harum velit hic nisi officia nam odio quae reprehenderit quaerat officiis tenetur sapiente explicabo? Deserunt iste dolores eaque.</p>
            </div>
          </div>
        </div>
      </div>


      <%- include('./partials/footer') %> 
    <%- include('./partials/scripts') %> 
  </body>
</html>