<!doctype html>
<html lang="en">
  <head>
    <title>Scan-FOOD</title>
    <%- include('./partials/head') %> 

  </head>
  <body>
    <%- include('./partials/nav-bar') %>
    
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% carouselItems.forEach(item => { %>
            <div class="carousel-item <%= item.active ? 'active' : '' %>" data-bs-interval="<%= item.interval %>">
              <img src="<%= item.imagePath %> " class="d-block w-100" alt="image-slide">
              <div class="carousel-caption d-none d-md-block">
                <h5><%= item.contentTitle%></h5>
                <p><%= item.contentText %></p>
              </div>
            </div>
          <% }); %> 
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="container">
        <h1 class="texto">Nuestros productos</h1>

        <div class="seccion-comida">
          <div class="titulo">
            <h1>Comida</h1>
          </div>
          <div class="tarjetas-comida">            
            <div class="card">
              <img src="https://i.ytimg.com/vi/LkYorvIVld0/maxresdefault.jpg" alt="">
              <div class="cuerpo">
                <h1>Torta</h1>
                <p>
                  Ricas tortas del ingredientes que tu desees
                </p>
                <div class="valores">
                  <h1>$30</h1>
                </div>
              </div>
            </div>
  
            <div class="card">
              <img src="https://cdn7.kiwilimon.com/recetaimagen/14115/7292.jpg" alt="">
              <div class="cuerpo">
                <h1>Molletes</h1>
                <p>Ricos molletes de frijoles o el guisado que tu gustes.</p>
                <div class="valores">
                  <h1>$35</h1>
                </div>
              </div>
            </div>
  
            <div class="card">
              <img src="https://casahotnuts.com/wp-content/uploads/2022/01/pizza-de-pepperoni.jpg" alt="">
              <div class="cuerpo">
                <h1>Pizza</h1>
                <p>Pizza tamaño indiviual del ingrediente que gustes</p>
                <div class="valores">
                  <h1>$30</h1>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="seccion-bebidas">
          <div class="titulo">
            <h1>Bebidas</h1>
          </div>
          <div class="tarjetas-bebidas">            
            <div class="card">
              <img src="https://www.elfinanciero.com.mx/resizer/m9mopcup_lDXzTbahBfq_gPh1zk=/400x225/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/elfinanciero/GHG7ZS2G5FARXBIGUQJZ7TVUXU.jpg" alt="">
              <div class="cuerpo">
                <h1>Coca-cola</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere molestias, natus id harum velit hic nisi officia nam odio quae reprehenderit quaerat officiis tenetur sapiente explicabo? Deserunt iste dolores eaque.</p>
              </div>
            </div>
  
            <div class="card">
              <img src="https://www.lavanguardia.com/files/og_thumbnail/files/fp/uploads/2020/10/05/5f7b260277fed.r_d.1244-497-0.jpeg" alt="">
              <div class="cuerpo">
                <h1>Agua enbotellada</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere molestias, natus id harum velit hic nisi officia nam odio quae reprehenderit quaerat officiis tenetur sapiente explicabo? Deserunt iste dolores eaque.</p>
              </div>
            </div>
  
            <div class="card">
              <img src="https://cdn.foodandwineespanol.com/2021/05/destacada_aguapolvosaborizante.jpg" alt="">
              <div class="cuerpo">
                <h1>Agua del día</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere molestias, natus id harum velit hic nisi officia nam odio quae reprehenderit quaerat officiis tenetur sapiente explicabo? Deserunt iste dolores eaque.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="seccion-postre">
          <div class="titulo">
            <h1>Postre</h1>
          </div>
          <div class="tarjetas-postre">            
            <div class="card">
              <img src="https://www.recetasnestle.com.mx/sites/default/files/srh_recipes/fd7a40b23d040d0c1bad21821e08c1ff.png" alt="">
              <div class="cuerpo">
                <h1>Pastel</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere molestias, natus id harum velit hic nisi officia nam odio quae reprehenderit quaerat officiis tenetur sapiente explicabo? Deserunt iste dolores eaque.</p>
              </div>
            </div>
  
            <div class="card">
              <img src="https://www.recetasnestle.com.mx/sites/default/files/srh_recipes/fd7a40b23d040d0c1bad21821e08c1ff.png" alt="">
              <div class="cuerpo">
                <h1>Pastel</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere molestias, natus id harum velit hic nisi officia nam odio quae reprehenderit quaerat officiis tenetur sapiente explicabo? Deserunt iste dolores eaque.</p>
              </div>
            </div>
  
            <div class="card">
              <img src="https://www.recetasnestle.com.mx/sites/default/files/srh_recipes/fd7a40b23d040d0c1bad21821e08c1ff.png" alt="">
              <div class="cuerpo">
                <h1>Pastel</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere molestias, natus id harum velit hic nisi officia nam odio quae reprehenderit quaerat officiis tenetur sapiente explicabo? Deserunt iste dolores eaque.</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>


      <%- include('./partials/footer') %> 
    <%- include('./partials/scripts') %> 
  </body>
</html>