<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <link rel="stylesheet" href="assets/css/productsList.css">
</head>

<body>
  <%- include('./partials/nav-bar') %>

    <div class="render-content">
      <div class="container">
        <div class="panel panel-inverse">
          <div class="panel-heading">
            <h4 class="panel-title">Listado de productos cargados</h4>
          </div>
          <div class="panel-body">
            <button class="btn btn-info"><i class="bi bi-plus-square-fill"></i></button>
            <table class="dataTable hover table table-striped table-bordered" id="tableProductsManage">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Imagen</th>
                  <th>Stock</th>
                  <th>Precio p/ud</th>
                  <th>Categoría</th>
                  <th>Estatus</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="search-content">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Find a product..." aria-label="Find a product..."
              aria-describedby="button-addon2">
            <button class="btn btn-dark" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
          </div>
        </div>
        <div class="products-list-content">
          <div class="row">
            <% if(productsList && productsList.length> 0) { %>
              <% productsList.forEach(product=> { %>
                <div class="col mb-2 d-flex align-items-stretch">
                  <div class="card">
                    <img src="<%= product.imageUrl %> " class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">
                        <%= product.name %>
                      </h5>
                      <h4>$ <label>
                          <%= product.price %>
                        </label></h4>
                      <!-- <small class="card-text">This is a longer card with supporting text below as a</small> -->
                      <p class="stock">Cantidad:&nbsp;<strong>
                          <%= product.stock %>
                        </strong></p>
                    </div>
                    <div class="card-footer">
                      <button class="btn"><i class="bi bi-box-seam-fill"></i>&nbsp;Ver más</button>
                      <button class="btn btn-dark"><i class="bi bi-cart4"></i>&nbsp;Añadir</button>
                    </div>
                  </div>
                </div>
                <% }) %>
            <% } else { %>
              <h3>No hay productos en el cátalogo</h3>
              <% } %> 
          </div>
        </div>
      </div>
    </div>

    <%- include('./partials/footer') %>
      <script src="assets/js/scriptsProducts.js"></script>
</body>

</html>