<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="assets/css/shopCart.css">
</head>

<body>
  <%- include('./partials/nav-bar') %>

    <div class="render-content">
      <div class="container">
        <div class="content-shop-cart">
          <h2>Tu compra está casi lista</h2>
          <p>
            Ahora verás la lista de los productos que estás a punto de comprar. Para continuar con la compra, haga clic en el botón (realizar compra) para finalizar la compra o en el botón (cancelar) para eliminar la lista de productos de su carrito.
          </p>
          <div class="row">
            <% shoppinglist.forEach( shop => { %>
            <div class="col">
              <div class="card h-100">
                <img src="<%= shop.imageUrl %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-title"><%= shop.name %></p>
                  <small class="card-text"><%=  shop.price %></small>
                </div>
                <button class="btn btn-outline-danger deleteProduct" data-idProduct="<%= shop._id %>" data-price="<%= shop.price %>" data-restotal="<%= infoGeneral.totalSale %>" title="Remove from the cart"><i class="bi bi-trash3-fill"></i></button>
              </div>
            </div>
            <% }) %>       
          </div>
          <div class="info-shop-cart">
            <p class="total-cost" data-saleShop="<%= infoGeneral.totalSale %>"><i class="bi bi-cash-stack"></i>&nbsp;total: <%= infoGeneral.totalSale %></p>
            <p class="discount"><i class="bi bi-tags-fill"></i>&nbsp;Descuento: 0%</p>
            <small><i class="bi bi-calendar-check"></i>&nbsp;Tu tienes <strong>24 horas</strong> para realizar tu pago</small>
          </div>
          <div class="shop-cart-footer">
            <button class="btn btn-cancel"><i class="bi bi-x-lg"></i>&nbsp;Cancelar</button>
            <button class="btn btn-primary saleCheck" data-precioT="<%= infoGeneral.totalSale %>" data-products="<%= shoppinglist.map( res => res._id ) %>"><i class="bi bi-check-circle"></i>&nbsp;Realizar compra</button>
          </div>
        </div>
        <div class="shopping-history">
          <div class="panel">
            <div class="panel-heading">
              <span class="panel-title d-inline-block"><i class="bi bi-clock-history"></i>&nbsp;Tu historial de compras</span>
            </div>
            <div class="panel-body table-responsive">
              <table class="dataTable hover table table-striped table-bordered" id="tableShopHistory">
                <thead>
                  <tr>
                    <th>Cantidad de productos</th>
                    <th>Total compra</th>
                    <th>Fecha de compra</th>
                    <th>Ver detalle</th>
                  </tr>
                </thead>
                <tbody>
                  
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>

  

    <%- include('./partials/footer') %>

    <script src="assets/js/crudScripts/sales.js"></script>
</body>

</html>