<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="assets/css/shopCart.css">
</head>

<body>
  <%- include('./partials/nav-bar') %>

    <div class="render-content">
      <div class="container">
        <% if (pendingOrder) { %>
          <div class="content-shop-cart">
            <h2 class="main-title"><i class="bi bi-cart4"></i>&nbsp;Tu compra está casi lista</h2>
            <p class="info-text">A continuación verás la lista de los productos que estás a punto de comprar. Para continuar con la compra, haga clic en el botón (realizar compra) para finalizar la compra o en el botón (cancelar) para eliminar la lista de productos de su carrito.</p>
            <div class="row">
              <% pendingOrder.productList.forEach(product => { %>
                <div class="col">
                  <div class="card h-100">
                    <img src="<%= product.imageUrl %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title"><%= product.name %></p>
                      <small class="card-text"><%= product.price %></small>
                    </div>
                    <button class="btn btn-outline-danger btn-delete-product" data-totalNewSale="<%= pendingOrder.totalSale - product.price %>" data-productsLength="<%= pendingOrder.productList.length %>" data-productName="<%= product.name %>" data-productId="<%= product.id %>" title="Eliminar producto del carrito"><i class="bi bi-trash3-fill"></i></button>
                  </div>
                </div>
              <% }) %> 
            </div>
            <div class="info-shop-cart">
              <p class="total-cost"><i class="bi bi-cash-stack"></i>&nbsp;Total: $ <%= pendingOrder.totalSale.toFixed(2) %></p>
              <p class="discount"><i class="bi bi-tags-fill"></i>&nbsp;Descuento: 0%</p>
              <small><i class="bi bi-calendar-check"></i>&nbsp;Se te avisará cuando tu pedido este listo para que pases por el.</small>
            </div>
            <div class="shop-cart-footer">
              <button data-cartId="<%= pendingOrder.id %>" data-newStatus="cancel" class="btn btn-cancel btn-set-new-status"><i class="bi bi-x-lg"></i>&nbsp;Cancelar</button>
              <button data-totalSale="<%= pendingOrder.totalSale %>" data-cartId="<%= pendingOrder.id %>" data-newStatus="buy" class="btn btn-primary btn-set-new-status"><i class="bi bi-check-circle"></i>&nbsp;Realizar compra</button>
            </div>
          </div>
        <% } else { %>
          <div class="not-pending-order">
            <h2 class="main-title"><i class="bi bi-cart-x"></i>&nbsp;No has agregado productos al carrito</h2>
          </div>
        <% }%> 
        <div class="shopping-history">
          <div class="panel">
            <div class="panel-heading">
              <span class="panel-title d-inline-block"><i class="bi bi-clock-history"></i>&nbsp;Tu historial de compras</span>
            </div>
            <div class="panel-body table-responsive">
              <table class="dataTable hover table table-striped table-bordered" id="tableShopHistory">
                <thead>
                  <tr>
                    <th>Cantidad de productos</th>
                    <th>Total compra</th>
                    <th>Fecha de compra</th>
                    <th>Estatus</th>
                    <th>Ver detalle</th>
                  </tr>
                </thead>
                <tbody>
                  <% shoppingHist.forEach(shop => { %>
                    <tr>
                      <td><%= shop.productList ? shop.productList.length : 0 %></td>
                      <td>$ <%= shop.totalSale.toFixed(2) %></td>
                      <td><%= shop.createdAt.toLocaleString() %></td>
                      <td class="<%= shop.saleStatus.key %>"><i class="bi bi-circle-fill"></i>&nbsp;<%= shop.saleStatus.value %></td>
                      <td> 
                        <button class="btn button-options-table btn-update-product" title="Ver detalle de compra" data-bs-toggle="modal" data-bs-target="#smallAlert"><i class="bi bi-eye-fill"></i></button> 
                      </td>
                    </tr>
                  <% }) %> 
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>

  

    <%- include('./partials/footer') %>
    <script type="text/javascript" src="assets/js/crudScripts/shopCart.js"></script>
</body>

</html>