<div class="new-product-form form-modal">
  <form id="newProductForm">
    <div class="row">
      <div class="col md-5">
        <label for="name" class="form-label">Nombre de producto:</label>
        <input type="text" maxlength="100" class="form-control" id="name" placeholder="Nombre de producto"
          value="<%= product ? product.name : '' %>">
      </div>
      <div class="col md-2">
        <label for="price" class="form-label">Precio:</label>
        <input type="number" class="form-control" id="price" placeholder="Precio"
          value="<%= product ? product.price : 0 %>">
      </div>
      <div class="col md-5">
        <label for="stock" class="form-label">Cantidad disponible:</label>
        <input type="number" class="form-control" id="stock" placeholder="Cantidad disponible"
          value="<%= product ? product.stock : 0 %>">
      </div>
    </div>
    <div class="row">
      <div class="col md-9">
        <label for="description" class="form-label">Descripción:</label>
        <textarea type="text" maxlength="200" class="form-control" id="description"
          placeholder="Descripción"><%= product ? product.description : '' %></textarea>
      </div>
      <div class="col md-3">
        <label for="description" class="form-label">Categoría:</label>
        <select class="form-select" aria-label="Selecciona la categoría" id="category">
          <% categoriesList.forEach(category=> { %>
            <% if (category.active) { %>
              <option value="<%= category.id %>" <%=category.id==product.Category ?? '' ? 'selected' : '' %> ><%=
                  category.name %>
              </option>
              <% } %>
                <% }) %>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col md-6">
        <div class="mb-3 url-image-internet">
          <label for="imageUrl" class="form-label">Ingresa la url de una imagen:</label>
          <input type="text" class="form-control preview-image-url"
            id="imageUrl" placeholder="Url de la imagen" value="<%= product ? product.imageUrl : '' %>">
        </div>
      </div>
      <div class="col md-6">
        <div class="preview-image-content">
          <img class="image-preview" id="productImagePreview"
            src="<%= product ? product.imageUrl : 'assets/images/notFound.jpg' %>">
        </div>
      </div>
    </div>
  </form>
</div>

<script src="assets/js/common.js" type="text/javascript"></script>